<article class="post">
<div class="card border-success mb-3">
  <div class="card-header bg-transparent"><h5 class="card-title"> <a href="/post/{{id}}">{{title}}</a></h5></div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
  <div class="card-footer bg-secondary text-white">
    by {{user.username}} on {{format_date created_at}}</br>
    {{vote_count}} point(s)
      <a href="/post/{{id}}">{{format_plural "comment" comments.length}}</a>
    </div>
</div>
</article>
<script src="/javascript/add-post.js"></script>